*{
    padding: 0;
    margin: 0;
}

.nav-class{
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
    background-color: cornflowerblue;
}

img{
    width: 100%;
}

.banner-class{

    width: 100%;
    margin-bottom: 10px;
}

.puppy-class {
    display: flex;
    width: 960px;
    margin: 5px auto;
    justify-content: space-between;
    background-color: bisque;

}
.missing-puppy{
    display: flex;
    background-color: brown;
    text-align: center;
    font-size: 80px;
    margin: 0 15px;
    width: 310px;
    height: 310px;

}

 .more{
    text-align: center;
    font-size: 30px;
    /* margin-bottom: 5px; */
    /* width: 960px; */
    margin: 5px 470px;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
/* .puppy-3 img,
.puppy-4 img{
width: 475px;
height: 310px;
} */

.Box-class{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: black; */
    

}

.Box1{
    /* width: 310px;
    height: 310px; */
    width: 33%;
    height: 150px;
    border-style: solid;
    margin: 20px;
    border-color: rgb(28, 25, 228);
    background: #EAF0F6;
    background-clip: content-box;
    box-shadow: inset 0 0 0 15px #FF7A59;


    
    
    
        
    
    
       

    
}
.Box2 {
    /* width: 310px;
    height: 310px; */
width: 33%;
    height: 150px;
    border-style: dotted;
    margin: 20px;
    border-color: rgb(28, 10, 196);
    background: #11bb44;
    background-clip: content-box;
    box-shadow: inset 0 0 0 15px #db1414;
}

.Box3 {
    /* width: 310px;
    height: 310px; */
    width: 33%;
        height: 150px;
        border-style: dashed;
        margin: 20px;
        border-color: rgb(11, 14, 218);
        background: #4612a5;
        background-clip: content-box;
        box-shadow: inset 0 0 0 15px #19cf65;
}





footer{
    text-align: center;
        font-size: 40px;
        padding: 10px 0;
        background-color: cornflowerblue;
        margin-top: 10px;


}
